<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Data selfy app</title>
  </head>
  <body>
    <h1>danial shipmen</h1>

    <script src="/js/geo.js"></script>

    <p>
      Latitude: <span id="lat">&deg;</span> <br />
      Longatude: <span id="lon">&deg;</span> <br />
    </p>
    <button class="btn">Get my Location</button>
  </body>
</html>
